{{> header}}


{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Rick and morty</h1>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur ratione assumenda ducimus vel eligendi minus, atque quod autem iure, quam recusandae, doloribus inventore sequi unde facilis esse commodi quia voluptates.</p>
    </div>
    <div class="col-4">
        <h1>
            <img src="boot/imagenes/ram.jpg" class="img-thumbnail">
        </h1>
    </div>

</div>
    
{{> footer}}